*
{
	padding:0;
	margin:0;
}
.all
{
	padding:30px;
	font-size:16px;
	font-weight:300;
	line-height:24px;
}
.all p
{
	margin-bottom:15px;
}


.det
{
	width:450px;
	position:relative;

	background-color:#fff;

	border-radius:8px;
	margin-bottom:10px;
}
.det:before
{
	
	position:absolute;

	width:100%;
	height:100%;
	border:8px solid #fff;
	z-index:2;
	overflow:hidden;
	box-sizing:border-box;
}
.det img
{
	width:100%;
	height:auto;
	border-radius:8px;
	transform:scale(1) rotate(0deg);
	transition:all .5s linear;
}



.det.right
{
	float:right;
	margin-left:20px;
}
.det.left
{
	float:left;
	margin-right:20px;
}

@media screen and (max-width:767px)
{
	
	.det.right
	{
		float:none;
		margin-left:0px;
	}
	.det.left
	{
		float:none;
		margin-right:0px;
	}
	.det{
		width:100%;
	}
}




